
  $accent-color: #239523;
  $light-color: #FFF;
  $dark-color: #000;
  $accent-color-dark: #00CC00;
  $bg-color-footer: #444444;
  $bg-color-accordion: #EEE;
  $accordion-color: #444;
  $accordion-hover: #CCC;
  $bg-swiper-color: #F4F4F4;

